/**
 * Font Sizing Emmet 1rem = 10px
 */
html {font-size: 62.5%;} / sets global font size to 10px on desktop browsers /
h1 {font-size:3.2rem}
h2 {font-size:2.4rem}
h3 {font-size:1.87167rem}
h4 {font-size:1.6rem}
h5 {font-size:1.32833rem}
h6 {font-size:1.07167rem}
input, select, th, td {font-size:1rem}

/**
 * Start of Custom Styles
 */

/* 
* {
	outline: red 1px solid;
} 
*/

 body {
 	background-color: black;
 }

h1 {
   font-family: regular;
}

 .main {
 	background-color: white;
 	margin-top: 10.1rem;
 	padding-left: 10rem;
 	min-width: 120rem;
 	height: 50rem;
 	position: relative;
 	z-index: 1;
 }


/*************************************************************
 ******************** ryu section ****************************
 *************************************************************/
 .ryu {
 	float: left;
 	width: 55.9rem;
 	height: 49.4rem;
 }

 .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
 	width: 55.9rem;
 	height: 49.4rem;
 }

 .ryu-ready, .ryu-throwing, .ryu-cool, .hadouken {
 	display: none;
 }

 .ryu-ready {
 	background-image: url('../images/ryu-ready-position.gif');
 }

 .ryu-still {
 	background-image: url('../images/ryu-standing-still.png');
 }

 .ryu-throwing {
 	background-image: url('../images/ryu-throwing-hadouken.png');
 }

 .ryu-cool {
   background-image: url('../images/ryu-cool.gif');
 }

 .hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
 	background-repeat: no-repeat;
 }

 .hadouken {
   background-image: url('../images/hadouken.gif');
   width:15.6rem;
   height: 9rem;
   float: left;
   position: absolute;
   z-index: 10;
   top: 14rem;
   left: 50.2rem;
 }

 /************************************************************
  ****************** Hulk ryu section ************************
  ************************************************************/

.hulk-ryu {
   float: right;
   width: 55.9rem;
   height: 49.4rem;
   -webkit-transform: scaleX(-1);
}

.hulk-ryu-ready, .hulk-ryu-throwing, .hulk-ryu-cool, .hulk-ryu-still {
   width: 55.9rem;
   height: 49.4rem;
}

.hulk-ryu-ready, .hulk-ryu-throwing, .hulk-ryu-cool, .hulk-hadouken {
   display: none;
}

.hulk-ryu-ready {
   background-image: url('../images/ryu-ready-position.gif');
}

.hulk-ryu-still {
   background-image: url('../images/ryu-standing-still.png');
}

.hulk-ryu-throwing {
   background-image: url('../images/ryu-throwing-hadouken.png');
}

.hulk-ryu-cool {
   background-image: url('../images/ryu-cool.gif');
}

.hulk-hadouken {
   background-image: url('../images/hadouken.gif');
   width:15.6rem;
   height: 9rem;
   float: right;
   position: absolute;
   z-index: 10;
   top: 17rem;
   right: 40rem;
   -webkit-transform: scaleX(-1);
 }

.hulk-hadouken, .hulk-ryu-cool, .hulk-ryu-throwing, .hulk-ryu-ready, .hulk-ryu-still {
   background-repeat: no-repeat;
   -webkit-filter: hue-rotate(90deg);
   filter: hue-rotate(90deg);
}